/* general.scss */
//stylelint-disable

html, body {
  width: 100%;
  height: 100%;
}
html {
  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #333;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
  monospace;
}

.app{
  width: 100%;
  height: 100%;

  .app-header{
    background-color: #19181e;
    color: #8b8bbf;
  }

  .app-title{
    font-weight: 600;
  }

  .spinner{
    background-image: url('../assets/Ellipsis-2.2s-90px.svg');
    width: 90px;
    height: 45px;
    margin: 0 auto;
    position: relative;
    display: inline-block;
  }

  .table-wrapper {
    width: 100%;
  }

  .poster-image {
    max-height:100%;
    height: auto;
  }

  .movie-info-text {
    padding: 20px 0;
    text-align: justify;
  }

  .movie-info-buttons {
    margin-left: -14px;
  }

  .movie-data-list {
    list-style: none;
    padding-left: 0;
    padding-top: 20px;
  }

  #card {
    padding: 5px;
    margin: 34px 16px 10px;
  }

  #movie-info-wrapper {
    max-width: 70vw;
    height: auto;
  }
}
